<div class="row">
    <div class="col-md-6">
      <a routerLink="/ipos" class="btn btn-link">
        <i class="fa fa-arrow-circle-o-left"></i> Back To List of IPOs
      </a>
    </div>
    <div class="col-md-6">

    </div>
  </div>

  <div class="card">
    <div class="card-header">
      {{operationHeader}}
    </div>
    <div class="card-body">
      <form #ipoForm="ngForm" (ngSubmit)="onSubmit(ipoForm)">

        <div class="form-group">
          <input type="text" class="form-control" name="companyName" #companyName="ngModel" 
            [ngClass]="{'is-invalid': companyName.errors && companyName.touched}"
            [(ngModel)]="ipo.companyName" placeholder="Company Name" minlength="2" required>
          <div [hidden]="!companyName.errors?.required" class="invalid-feedback">
            Company name required
          </div>
          <div [hidden]="!companyName.errors?.minlength" class="invalid-feedback">
            Must be atleast 2 characters
          </div>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="exchangeName" #exchangeName="ngModel"
            [ngClass]="{'is-invalid': exchangeName.errors && exchangeName.touched}"
            [(ngModel)]="ipo.exchangeName" placeholder="Stock Exchange Name" minlength="2" required>
          <div [hidden]="!exchangeName.errors?.required" class="invalid-feedback">
            Stock Exchange Name required
          </div>
          <div [hidden]="!exchangeName.errors?.minlength" class="invalid-feedback">
            Must be atleast 2 characters
          </div>
        </div>

        <div class="form-group">
          <input type="number" class="form-control" name="pricePerShare" #pricePerShare="ngModel" 
            [ngClass]="{'is-invalid': pricePerShare.errors && pricePerShare.touched}"
            [(ngModel)]="ipo.pricePerShare" placeholder="Price per Share" required>
          <div [hidden]="!pricePerShare.errors?.required" class="invalid-feedback">
            Price required
          </div>
        </div>

        <div class="form-group">
          <input type="number" class="form-control" name="totalShares"
            #totalShares="ngModel"
            [ngClass]="{'is-invalid': totalShares.errors && totalShares.touched}"
            [(ngModel)]="ipo.totalShares"
            placeholder="Total Shares"
            required>
          <div [hidden]="!totalShares.errors?.required" class="invalid-feedback">
            Total Shares required
          </div>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="openDateTime" #openDateTime="ngModel"
            [ngClass]="{'is-invalid': openDateTime.errors && openDateTime.touched}"
            [(ngModel)]="ipo.openDateTime" placeholder="Open Date and Time" minlength="2"
            required>
          <div [hidden]="!openDateTime.errors?.required" class="invalid-feedback">
            Open Date and Time Required
          </div>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="remarks" #remarks="ngModel"
            [ngClass]="{'is-invalid': remarks.errors && remarks.touched}" [(ngModel)]="ipo.remarks"
            placeholder="Remarks" minlength="2" required>
          <div [hidden]="!remarks.errors?.required" class="invalid-feedback">
            Remarks required
          </div>
          <div [hidden]="!remarks.errors?.minlength" class="invalid-feedback">
            Must be atleast 2 characters
          </div>
        </div>

        <input type="submit" value="Submit" class="btn btn-primary btn-block">
      </form>
    </div>
  </div>
