<nav class="navbar navbar-expand-md navbar-light bg-light mb-4" style="background-color: #e3f2fd;">
  <div class="container">
    <a routerLink="/" class="navbar-brand"><i class="fa fa-exchange"></i> Stock-Market-Charting</a>
    <button class="navbar-toggler" type="button" data-target="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul *ngIf="isLoggedIn && isAdmin" class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/import-excel" class="nav-link">Import Data</a>
          </li>
          <li class="nav-item">
            <a routerLink="/companies" class="nav-link">Manage Companies</a>
          </li>
          <li class="nav-item">
            <a routerLink="/stock-exchanges" class="nav-link">Manage Exchanges</a>
          </li>
          <li class="nav-item">
            <a routerLink="/ipos" class="nav-link">Manage IPOs</a>
          </li>
      </ul>
      <ul *ngIf="isLoggedIn && !isAdmin" class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/ipos" class="nav-link">View IPOs</a>
          </li>
          <li class="nav-item">
            <a routerLink="/compare" class="nav-link">Compare Companies & Sectors</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/signup" class="nav-link" routerLink="signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>  

<div style="margin: 0 5%;">
  <router-outlet></router-outlet>
</div>